@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --tag-color: #5ad9e2;
    --text-color: #dbdbdb;
    --border-color: rgb(231, 148, 54);
}

body {
    background-image: radial-gradient(#373640, #282631, #23222b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: 'Source Code Pro', monospace;
}

.main-wrapper {
    display: flex;
    justify-content: center;
}

.task-list {
    width: 500px;
}

.task-card {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.task-card:nth-child(even) {
    background-color: rgb(27, 27, 27);
}

.task-card:nth-child(odd) {
    background-color: rgb(36, 36, 36);
}

.task-card__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.task-card__header h1 {
    font-size: 2rem;
    font-weight: bold;
}

.task-card__header__title span {
    font-size: 1rem;
    color: var(--tag-color);
    font-weight: bold;
}

.task-card__header__title span::before {
    content: "|";
}

.task-card__content {
    font-size: 1.1rem;
}