<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <title>Sad Tasks</title>
    </head>

    <body>
        <main class="main-wrapper">
            <nav class="buttons-nav">
                <a href="{{ url_for('new_task') }}"><button class="cool-button">New Task</button></a>
                <a href="{{ url_for('tags') }}"><button class="cool-button">Tags</button></a>
            </nav>
            <ul class="task-list">
                {% for task in tasks %}
                <li class="task-card__li">
                    <div class="task-card">
                        <div class="task-card__header">
                            <div class="task-card__header__title">
                                <h1>{{ task.title }}</h1>
                                {% if task.tag%}
                                <span>{{ task.tag }}</span>
                                {% endif %}
                            </div>
                            <span>{{ task.creation_date.strftime('%d/%m/%y') }}</span>
                        </div>
                        {% if task.content %}
                        <span class="task-card__content">{{ task.content }}</span>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('delete_task', task_id=task.id) }}">
                        <button class="delete-button"><span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </main>
    </body>

</html>